services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: B2laravel_app
    ports:
      - "8000:8000"
    volumes:
      - .:/var/www/html
    depends_on:
      - mysql

  mysql:
    image: mysql:8.0
    container_name: B2laravel_mysql
    restart: always
    environment:
      MYSQL_DATABASE: voiture
      MYSQL_USER: root
      MYSQL_PASSWORD: root
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data:
